<div class="footerEmailBox col-lg-8 col-md-8 col-sm-8">
  <%= form_for(@footer_contact ||= Contact.new,:as => :contact, :url => footer_contact_path, :method => 'post', :html => { :multipart => true, :remote => true, :id => "contacts_form"}) do |f| %>
    <% if @footer_contact.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @footer_contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.text_field :name, :class => "input-name", :title=>"Enter your full name", :placeholder=>"Name (required)" %>
      <%= f.text_field :email, :class =>"input-name", :title=>"Enter your email address", :placeholder=>"Email (required)" %>
    </p>
    <p>
      <%= f.text_field :subject, :class =>"input-name", :title=>"Enter your subject", :placeholder=>"Subject" %>
      <%= f.file_field :attach,:id => "web",:class=>"input-name" %>
    </p>
    <p><%= f.text_area :comment,:rows =>"5", :cols=>"20", :class=>"textarea-message",:title => "Enter your Message",:id => "comments",:placeholder => "Message" %></p>
    <%= show_simple_captcha %>
    <div align="right"><%= f.submit :submit, :class=>"btn-send" %></div>
  <% end %>
</div>